<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <title>About - Extravaganza'24</title>
</head>

<body>
    <div>
        <div class="aboutParent">
            <%- include('partials/uppershade') %>
                <%- include('partials/navbar') %>
                    <div class="parentChild">
                        <div class="para1">
                            <h2>About <span style="color: aqua;">Extravaganza'24</span></h2>
                            <p>Extravaganza, the flagship cultural fest of Government Engineering College Vaishali, is a
                                vibrant celebration of creativity, talent, and student life. This annual fest, now in
                                its second edition, brings together students from various colleges, offering a platform
                                to showcase their artistic and cultural prowess. With its exciting lineup of events,
                                performances, and competitions, Extravaganza'24 promises to be an exhilarating
                                experience for everyone involved.
                                <br>
                                This year, the festival will feature a diverse range of activities, including music and
                                dance performances, fashion shows, debates, graphic design competitions, drama, and much
                                more. Whether you’re an artist, a performer, or simply a spectator, Extravaganza'24
                                will offer something for everyone. The fest not only aims to entertain but also to
                                inspire students to push the boundaries of their creativity and innovation.

                                Extravaganza has quickly become a tradition at Government Engineering College Vaishali,
                                and its second edition is set to be bigger and better than ever. By inviting
                                participants from other colleges and fostering an atmosphere of friendly competition and
                                collaboration, Extravaganza 2.0 is more than just a cultural event—it is a celebration
                                of unity, passion, and youthfulness.
                                <br><br>

                                Join us for a memorable experience and witness the creativity and energy of the next
                                generation at Extravaganza'24!
                            </p>
                        </div>
                        <div class="para2">
                            <div class="para3">
                                <div class="heading">
                                    <div>
                                        <img style="border-radius: 50%;" src="/images/principal.png" alt="">
                                    </div>
                                    <div>
                                        <h3>Principal's <span style="color: rgb(220, 184, 3);">Message</span></h3>
                                        <p>Dr. Anant Kumar</p>
                                    </div>
                                </div>
                                <div id="principal-message">
                                    I am delighted to welcome you all to Extravaganza 2.0, the second edition of our
                                    annual
                                    cultural fest at Government Engineering College Vaishali. This event is a vibrant
                                    platform
                                    for students to showcase their creativity and talent, contributing to their overall
                                    development beyond academics.

                                    Cultural fests like Extravaganza foster collaboration, confidence, and leadership
                                    among
                                    students. With participants from various colleges, this year’s fest promises even
                                    more
                                    excitement and diversity. I congratulate the organizing team and all participants
                                    for their
                                    dedication in bringing this event to life.

                                    Let us celebrate the energy and creativity of our youth as we come together for this
                                    memorable event.

                                    Best wishes to all!
                                </div>
                            </div>
                            <div class="para4">
                                <h3>Faculty <span style="color: rgb(0, 237, 201);">Incharge</span></h3>
                                <div class="faculty">
                                    <section class="faculty-image">
                                        <img style=" border-radius: 50%;" src="/images/principal.png" alt="">
                                    </section>
                                    <section>
                                        It is wonderful to see the creativity and talent of our students come alive through Extravaganza'24. I wish the participants and organizers great success in making this event a memorable one!
                                        <p id="prof-name"> - Dr. Shivangi Saxena</p>
                                    </section>
                                </div>
                                <div class="faculty">
                                    <section>
                                        Cultural fests like Extravaganza'24 provide a platform for students to explore their artistic side and foster teamwork. I look forward to witnessing the energy and innovation of this year’s event.
                                        <p id="prof-name"> - Dr. Shivangi Saxena</p>
                                    </section>
                                    <section class="faculty-image">
                                        <img style="border-radius: 50%;" src="/images/principal.png" alt="">
                                    </section>
                                </div>
                                <div class="faculty">
                                    <section class="faculty-image">
                                        <img style="border-radius: 50%;" src="/images/principal.png" alt="">
                                    </section>
                                    <section>
                                        Extravaganza'24 showcases the collaborative spirit and talent of our students. I congratulate the organizers and wish all participants an exciting and successful fest.
                                        <p id="prof-name"> - Dr. Shivangi Saxena</p>
                                    </section>
                                </div>
                                <div class="faculty">
                                    <section>
                                        Cultural fests like Extravaganza'24 provide a platform for students to explore their artistic side and foster teamwork. I look forward to witnessing the energy and innovation of this year’s event.
                                        <p id="prof-name"> - Dr. Shivangi Saxena</p>
                                    </section>
                                    <section class="faculty-image">
                                        <img style="border-radius: 50%;" src="/images/principal.png" alt="">
                                    </section>
                                </div>
                                <div class="faculty">
                                    <section class="faculty-image">
                                        <img style="border-radius: 50%;" src="/images/principal.png" alt="">
                                    </section>
                                    <section>
                                        Extravaganza'24 showcases the collaborative spirit and talent of our students. I congratulate the organizers and wish all participants an exciting and successful fest.
                                        <p id="prof-name"> - Dr. Shivangi Saxena</p>
                                    </section>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <%- include('partials/addressbar') %>
                        <%- include('partials/footer') %>
        </div>
    </div>

</body>

</html>