<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events - ExtraVaganza'24</title>
    <link rel="stylesheet" href="/stylesheets/events.css">
</head>

<body>
    <div>
        <div class="eventsContainer">
            <%- include('partials/uppershade') %>
            <%- include('partials/navbar') %>
            <div class="eventTitleBar">
                <h2>Upcoming <span style="color: rgb(255, 217, 0);">Events</span></h2>
                <p>Join Us for Extravaganza'24 : A Celebration Like No Other! 🔥</p>
            </div>
            <div class="childContainer">
                    <div class="eventCard">
                        <img src="/images/fashion_show_baner.png" alt="">
                        <h3>Fashion Show</h3>
                        <p>Step into the spotlight at the Fashion Show of Extravaganza'24, where creativity and style
                            collide in a dazzling showcase of trendsetting designs.</p>
                    </div>
                <div class="eventCard">
                    <img src="/images/Dance_banner.png" alt="">
                    <h3>Dance</h3>
                    <p>Feel the beat and move to the groove in our dynamic dance performances, where each step tells a
                        story of grace, energy, and passion.</p>
                </div>
                <div class="eventCard">
                    <img src="/images/Music_banner.png" alt="">
                    <h3>Music</h3>
                    <p>Let the rhythm guide you in a celebration of melodies, as talented musicians showcase their
                        skills in a symphony of sound that will leave the audience mesmerized.</p>
                </div>
                <div class="eventCard">
                    <img src="/images/drama_banner.png" alt="">
                    <h3>Drama</h3>
                    <p>Unleash your inner actor and take the stage in our captivating drama performances, where stories
                        come to life through powerful expressions and emotions.</p>
                </div>
                <div class="eventCard">
                    <img src="/images/art_nd_craft.png" alt="">
                    <h3>Art & Craft</h3>
                    <p>Explore the world of creativity with vibrant art and craft exhibits, where imagination meets
                        skill in handmade masterpieces.</p>
                </div>

                <div class="eventCard">
                    <img src="/images/photography_banner.png" alt="">
                    <h3>Photography</h3>
                    <p>Capture the essence of the moment through the lens of talented photographers, as they freeze time
                        with their stunning visual artistry.</p>
                </div>
                <div class="eventCard">
                    <img src="/images/literary_banner.png" alt="">
                    <h3>Literary</h3>
                    <p>A celebration of stories and creativity featuring engaging discussions and captivating author readings. Connect with fellow book lovers and immerse yourself in the world of literature!</p>
                </div>
                <div class="eventCard">
                    <img src="/images/fun_game_banner.png" alt="">
                    <h3>Fun Games</h3>
                    <p>Get ready for adrenaline-pumping action in our fun and competitive games, where participants can
                        test their skills and challenge their limits.</p>
                </div>
                <div class="eventCard">
                    <img src="/images/graphics_banner.png" alt="">
                    <h3>Graphics</h3>
                    <p>Dive into the world of visual storytelling with mesmerizing graphics that blend creativity and
                        technology to create stunning digital art.</p>
                </div>
                <div class="eventCard">
                    <img src="/images/treasure_hunt_banner.png" alt="">
                    <h3>Treasure Hunt</h3>
                    <p>Embark on an exciting treasure hunt adventure, where clues lead to hidden surprises and only the
                        sharpest minds can uncover the prize.</p>
                </div>
                <div class="eventCard">
                    <img src="/images/edm_banner.png" alt="">
                    <h3>EDM Night</h3>
                    <p>Feel the electrifying energy of EDM Night as beats drop and lights flash, creating an
                        unforgettable party atmosphere that will keep everyone dancing till dawn.</p>
                </div>
            </div>
            <div>
                <%- include('partials/addressbar') %>
            </div>
            <%- include('partials/footer') %>
        </div>
    </div>
</body>

</html>