<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glimpse - ExtraVaganza'23</title>
    <link rel="stylesheet" href="/stylesheets/glimpse.css">
</head>

<body>
    <div>
        <div class="glimpseParent">
            <div class="glimpseChild">
                <%- include('partials/navbar') %>
                    <%- include('partials/uppershade') %>
                        <div class="glimpseTitleBar">
                            <h2>Previous Year <span style="color: rgb(0, 145, 255);">Glimpse</span></h2>
                            <p>Extravaganza'23 was a spectacular celebration. Last year, we celebrated this event
                                wonderfully, and this time, we're gearing up to make it even more exciting! 🌎✨</p>
                        </div>
                        <div class="portraitImages">
                            <div>
                                <img src="media/Glimpse/g7.png" alt="">
                            </div>
                            <div>
                                <img src="media/Glimpse/g8.jpeg" alt="">
                            </div>
                            <div>
                                <img src="media/Glimpse/g3.png" alt="">
                            </div>
                            <div>
                                <img src="media/Glimpse/g10.jpeg" alt="">
                            </div>
                        </div>
                        <div class="landscapeImages">
                            <div>
                                <img src="media/Glimpse/g11.jpeg" alt="">
                            </div>
                            <div>
                                <img src="media/Glimpse/g12.jpeg" alt="">
                            </div>
                            <div>
                                <img src="media/Glimpse/g11.jpeg" alt="">
                            </div>
                        </div>
                        <%- include('partials/addressbar') %>
            </div>

            <%- include('partials/footer') %>
        </div>
    </div>
</body>

</html>