<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glimpse - ExtraVaganza'23</title>
    <link rel="stylesheet" href="/stylesheets/glimpse.css">
</head>

<body>
    <div>
        <div class="glimpseParent">
            <div class="glimpseChild">
                <%- include('partials/navbar') %>
                    <%- include('partials/uppershade') %>
                        <div class="glimpseTitleBar">
                            <h2>Previous Year <span style="color: rgb(0, 145, 255);">Glimpse</span></h2>
                            <p>Extravaganza'23 was a spectacular celebration. Last year, we celebrated this event
                                wonderfully, and this time, we're gearing up to make it even more exciting! 🌎✨</p>
                        </div>
                        <div class="landscapeImages">
                            <div>
                                <video id="background-video"  controls>
                                    <source src="videos/Chhath_Drama.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <div>
                                <video id="background-video" controls>
                                    <source src="videos/Chhath_Drama.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                        <div class="portraitImages">
                            <div>
                                <video id="background-video" controls>
                                    <source src="videos/fashion_show.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <div>
                                <video id="background-video"  controls>
                                    <source src="videos/fashion_show2.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                        
                        <%- include('partials/addressbar') %>
            </div>

            <%- include('partials/footer') %>
        </div>
    </div>
</body>

</html>