<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <meta name="theme-color" content="#000000">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&family=SUSE:wght@100..800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/medialQuery.css">
    <title>Extravaganza'24</title>
</head>

<body>
    <div class="parentDiv">
        <div class="websiteContainer">
          <%- include('partials/navbar') %>   
            <div>
                <div id="home">
                    <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;"
                        class="innerSection">
                        <div style="align-items: center;" class="innerDetails">
                            <h1><i><span id="extravaganza-text">ExtraVaganza'24</span><span id="jashn-e-hunar">'जश्न-ए-हुनर'</span></i></h1>
                            <h3 style="margin-top: 10px;"><i>Ignite Your Passion, Celebrate Your Culture!</i></h3>
                            <div style="margin-top: 20px;">
                                <a href="#"><button id="main-reg-button"><b>REGISTER NOW (Coming Soon) 🌈</b></button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="afterSection"></div>
                <div id="about">
                    <div class="aboutContainer" style="width: 100vw;">
                        <div class="aboutDiv">
                            <div>
                            <!-- videohere -->
                            </div>
                        </div>
                        <div id="aboutText">
                            <p>Welcome to Extravaganza'24, the second edition of the cultural
                                fest organized by Government
                                Engineering College Vaishali! Following the success of our first fest, we’re back with
                                even
                                more
                                excitement and
                                creativity.
                                Extravaganza'24 offers a platform to showcase talent and foster connections across
                                colleges. With a
                                wide range of events in music, dance, drama, and art, we invite everyone to participate
                                and
                                celebrate
                                together.
                                Join us for a vibrant cultural experience filled with creativity, energy, and passion.
                                Let’s
                                make
                                Extravaganza'24 a fest to remember!
                            </p>
                        </div>
                    </div>
                    <div id="registerButton">
                        <a href="#"><button>Register Now 🥳</button></a>
                    </div>
                </div>
                <div class="events" id="eventsPage">
                    <div>
                        <div class="eventCard">
                            <img src="/images/fashion_show_baner.png" alt="">
                            <h3>Fashion Show</h3>
                            <p>Get ready to dazzle at our Fashion Show event, where style and creativity take center stage! Experience the latest trends and showcase your unique flair as models strut their stuff on the runway. Join us for an unforgettable evening of fashion, fun, and inspiration!</p>
                        </div>
                        <div class="eventCard">
                            <img src="/images/Dance_banner.png" alt="">
                            <h3>Dance</h3>
                            <p style="font-size: 12px;">Join us for a vibrant evening of dance that celebrates movement and creativity! Whether you’re a seasoned dancer or just looking to have fun, there’s a place for everyone on the dance floor. Let the music inspire you as we come together to express ourselves through the joy of dance! </p>
                        </div>
                        <div class="eventCard">
                            <img src="/images/Music_banner.png" alt="">
                            <h3>Music</h3>
                            <p style="font-size: 12px;">Join us for an electrifying night of music that will get your heart pumping and your feet moving! Experience live performances from talented artists across various genres, creating an atmosphere of pure joy and energy. Don’t miss out on this unforgettable celebration of rhythm and sound!</p>
                        </div>
                    </div>
                    <div id="moreEventsButton">
                        <a href="events.html">
                            <button>More Events 😎</button>
                        </a>
                    </div>
                </div>
                <div class="competitions" id="CompetitionsPage">
                    <div>
                            <div class="competitionCard">
                                <img src="/images/treasure_banner.png" alt="">
                                <h3>Treasure Hunt</h3>
                                <p style="font-size: 12px;">Embark on an exciting adventure at our Treasure Hunt event, where mystery and fun await around every corner! Gather your team and solve clues to uncover hidden treasures while exploring the great outdoors. Get ready for a day filled with excitement, teamwork, and unforgettable memories!</p>
                            </div>
                        <div class="competitionCard">
                            <img src="/images/fun_game_banner.png" alt="">
                            <h3>Fun Games</h3>
                            <p style="font-size: 12px;">Join us for a day of laughter and friendly competition at our Fun Games event! With a variety of games for all ages, there’s something for everyone to enjoy. Come test your skills, make new friends, and create unforgettable memories!</p>
                        </div>
                        <div class="competitionCard">
                            <img src="/images/quiz_banner.png" alt="">
                            <h3>Quizes</h3>
                            <p style="font-size: 12px;">Test your knowledge and have a blast at our Quiz Night event! Gather your friends and compete in various rounds of challenging questions that will put your trivia skills to the test. Join us for a fun-filled evening of laughter, learning, and friendly competition!</p>
                        </div>
                    </div>
                    <div id="moreCompetitionsButton">
                        <a href="#">
                            <button>More Competitions 🤑</button>
                        </a>
                    </div>
                </div>
                <%- include('partials/addressbar') %>
                <%- include('partials/footer') %>
            </div>
        </div>
    </div>
</body>

</html>