<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline - ExtraVaganza'24</title>
    <link rel="stylesheet" href="/stylesheets/timeline.css">
    <link rel="stylesheet" href="medialQuery.css">
</head>
<body>
    <div>
        <div class="timelineParent">
            <%- include('partials/navbar') %>
            <%- include('partials/uppershade') %>
            <div class="timelineHeading">
                <h2>Detailed <span style="color: green;">Timeline</span></h2>
            <p>Here is the detailed List of timeline, Enjoy! 👀😊</p>
            </div>
            <div class="timeline">
                <div class="container leftContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Wall Painting</h2>
                        <small>23th Nov 08AM - 10AM (To be informed)</small>
                        <p>Watch as creativity unfolds in vibrant colors during our wall painting session, where participants transform blank walls into stunning artworks.</p>
                        <span class="leftContainerArrow"></span>
                    </div>
                </div>
                <div class="container rightContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Short Movie Making</h2>
                        <small>23th Nov 10AM - 12PM (MPH)</small>
                        <p>Join aspiring filmmakers in a whirlwind of creativity as they craft short films, showcasing their storytelling skills and unique perspectives.</p>
                        <span class="rightContainerArrow"></span>
                    </div>
                </div>

                <div class="container leftContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Intellect Quest</h2>
                        <small>23th Nov 10AM - 11AM (Seminar Hall - 2)</small>
                        <p>Test your knowledge and compete with peers in our Intellect Quest quiz, covering a variety of intriguing topics.</p>
                        <span class="leftContainerArrow"></span>
                    </div>
                </div>
                <div class="container rightContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Battle of Brains (Crosswords)</h2>
                        <small>23th Nov 11AM - 12PM (Seminar Hall - 1)</small>
                        <p>Put your puzzle-solving skills to the test in this engaging crossword challenge, where quick thinking and teamwork are key.</p>
                        <span class="rightContainerArrow"></span>
                    </div>
                </div>

                <div class="container leftContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Lippan Art</h2>
                        <small>23th Nov 11:30AM - 01:30PM (To be informed)</small>
                        <p>Discover the beauty of traditional Lippan art as participants create intricate designs using clay and mirrors, celebrating cultural heritage.</p>
                        <span class="leftContainerArrow"></span>
                    </div>
                </div>
                <div class="container rightContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Just a minutes</h2>
                        <small>23th Nov 12PM - 01PM (Seminar Hall - 2)</small>
                        <p>Challenge your spontaneity in this fast-paced event, where participants speak on various topics for just one minute each.</p>
                        <span class="rightContainerArrow"></span>
                    </div>
                </div>


                <div class="container leftContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Canvas Painting</h2>
                        <small>23th Nov 02PM - 04PM (To be informed)</small>
                        <p>Unleash your inner artist in our canvas painting session, where creativity knows no bounds and every stroke tells a story.</p>
                        <span class="leftContainerArrow"></span>
                    </div>
                </div>
                <div class="container rightContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>DIY form Waste</h2>
                        <small>23th Nov 04PM - 06:30PM (To be informed)</small>
                        <p>Engage in sustainability with our DIY from waste workshop, turning everyday items into beautiful and functional crafts.</p>
                        <span class="rightContainerArrow"></span>
                    </div>
                </div>
                
                <div class="container leftContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Instrumental Music</h2>
                        <small>23th Nov 04PM - 04:30PM (Main Stage)</small>
                        <p>Enjoy a serene atmosphere as talented musicians showcase their skills in an instrumental music performance, captivating the audience.</p>
                        <span class="leftContainerArrow"></span>
                    </div>
                </div>
                <div class="container rightContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Classical Dance</h2>
                        <small>23th Nov 04:30PM - 06PM (Main Stage)</small>
                        <p>Experience the grace and elegance of classical dance forms as performers bring traditional stories to life through their movements.</p>
                        <span class="rightContainerArrow"></span>
                    </div>
                </div>

                <div class="container leftContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Poetry (Student, Faculty & Guest)</h2> 
                        <small>23th Nov 06PM - 07:30PM (Main Stage)</small>
                        <p>Celebrate the power of words in a collaborative poetry session, featuring original works from both students and guest poets.</p>
                        <span class="leftContainerArrow"></span>
                    </div>
                </div>
                <div class="container rightContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Solo Singing</h2>
                        <small>23th Nov 07:30PM - 09PM (Main Stage)</small>
                        <p>Listen to soulful performances in our solo singing event, where participants share their passion for music through individual renditions.</p>
                        <span class="rightContainerArrow"></span>
                    </div>
                </div>

                <div class="container leftContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Folk Dance & Dance Battle</h2>
                        <small>23th Nov 09PM - 10PM (Main Stage)</small>
                        <p>Join in the rhythm of folk dance or witness an electrifying dance battle, celebrating cultural diversity and energetic performances.</p>
                        <span class="leftContainerArrow"></span>
                    </div>
                </div>
                <div class="container rightContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Essay Writing</h2>
                        <small>24th Nov 09AM - 12PM (Seminar Hall - 2)</small>
                        <p>Put your thoughts into words in our essay writing competition, where creativity and critical thinking take center stage.</p>
                        <span class="rightContainerArrow"></span>
                    </div>
                </div>

                <div class="container leftContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>The Young Leaders Summit</h2>
                        <small>24th Nov 09AM - 12PM (MPH)</small>
                        <p>Participate in a dynamic discussion at the Youth Leaders Summit, empowering young voices to shape the future.</p>
                        <span class="leftContainerArrow"></span>
                    </div>
                </div>
                <div class="container rightContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Talk Show (Faculty)</h2>
                        <small>24th Nov 10AM - 12PM (Seminar Hall - 2)</small>
                        <p>Gain insights from our faculty in an engaging talk show, covering topics that inspire and educate.</p>
                        <span class="rightContainerArrow"></span>
                    </div>
                </div>

                <div class="container leftContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Treasure Hunt</h2>
                        <small>24th Nov 10AM - 12PM (Campus Building)</small>
                        <p>Embark on an adventurous treasure hunt, solving clues and exploring the venue while racing against the clock.</p>
                        <span class="leftContainerArrow"></span>
                    </div>
                </div>
                <div class="container rightContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Sketch Making</h2>
                        <small>23th Nov 10AM - 12AM (MPH)</small>
                        <p>Bring your artistic flair to life in our sketch-making event, where quick lines and creative expression take precedence.</p>
                        <span class="rightContainerArrow"></span>
                    </div>
                </div>

                <div class="container leftContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Brushless Painting</h2>
                        <small>24th Nov 10:30AM - 12:30PM (To be informed)</small>
                        <p>Explore a unique painting technique in our brushless painting session, where unconventional methods yield beautiful results.<p>
                        <span class="leftContainerArrow"></span>
                    </div>
                </div>
                <div class="container rightContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Face Painting</h2>
                        <small>24th Nov 01:30PM - 03:30PM (To be informed)</small>
                        <p>Get your creative juices flowing with face painting, allowing participants to express themselves in colorful and imaginative ways.</p>
                        <span class="rightContainerArrow"></span>
                    </div>
                </div>

                <div class="container leftContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Mandala Art</h2>
                        <small>24th Nov 04PM - 06PM (To be informed)</small>
                        <p>Dive into the intricate world of mandala art, creating mesmerizing patterns that promote mindfulness and relaxation.</p>
                        <span class="leftContainerArrow"></span>
                    </div>
                </div>
                <div class="container rightContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Group Singing (Classical)</h2>
                        <small>24th Nov 04PM - 05PM (Main Stage)</small>
                        <p>Join voices in harmony during our group singing event, where camaraderie and love for music unite participants.</p>
                        <span class="rightContainerArrow"></span>
                    </div>
                </div>

                <div class="container leftContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Western Solo Dance</h2>
                        <small>24th Nov 05PM - 06PM (Main Stage)</small>
                        <p>Showcase your talent in western solo dance, captivating the audience with your unique style and rhythm.</p>
                        <span class="leftContainerArrow"></span>
                    </div>
                </div>
                <div class="container rightContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Drama (Rangmanch)</h2>
                        <small>24th Nov 06PM - 07:30PM (Main Stage)</small>
                        <p>Experience the magic of theater in our drama event, where participants bring scripts to life through powerful performances.</p>
                        <span class="rightContainerArrow"></span>
                    </div>
                </div>

                <div class="container leftContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Group Singing (Sugam)</h2>
                        <small>24th Nov 07:30PM - 08:30PM (Main Stage)</small>
                        <p>Join voices in harmony during our group singing event, where camaraderie and love for music unite participants.</p>
                        <span class="leftContainerArrow"></span>
                    </div>
                </div>
                <div class="container rightContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Western Group Dance</h2>
                        <small>24th Nov 08:30PM - 09:300PM (Main Stage)</small>
                        <p>Watch as groups perform dynamic western dance routines, blending creativity and choreography for an entertaining spectacle.</p>
                        <span class="rightContainerArrow"></span>
                    </div>
                </div>

                <div class="container leftContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Fashion Show</h2>
                        <small>24th Nov 09:30PM - 10:30PM (Main Stage)</small>
                        <p>Enjoy the glamour of our fashion show, featuring innovative designs and styles from aspiring fashionistas.</p>
                        <span class="leftContainerArrow"></span>
                    </div>
                </div>
                <div class="container rightContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Dumb Charades</h2>
                        <small>25th Nov 11AM - 01PM (MPH)</small>
                        <p>Get ready for a hilarious game of gestures and guesses! Participants will act out movie titles, phrases, or books without speaking, relying on creativity and teamwork to communicate their clues. Laughter and fun are guaranteed as teams compete to decipher the most titles in the shortest time.</p>
                        <span class="rightContainerArrow"></span>
                    </div>
                </div>

                <div class="container leftContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Logo Design (GECV)</h2>
                        <small>25th Nov 10:00AM - 12PM (Seminar Hall - 1)</small>
                        <p>Showcase your design skills in the logo design competition, where creativity and branding collide.</p>
                        <span class="leftContainerArrow"></span>
                    </div>
                </div>
                <div class="container rightContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Story Telling and Writing</h2>
                        <small>25th Nov 10AM - 12PM (Seminar Hall - 2)</small>
                        <p>Story Writing/Telling: Immerse yourself in the art of storytelling, where imagination takes flight through captivating narratives and tales.</p>
                        <span class="rightContainerArrow"></span>
                    </div>
                </div>

                <div class="container leftContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Ear to Ear Passing</h2>
                        <small>25th Nov 02PM - 03PM (MPH)</small>
                        <p>Engage in a fun and interactive game that encourages teamwork and communication in a lively atmosphere.</p>
                        <span class="leftContainerArrow"></span>
                    </div>
                </div>
                <div class="container rightContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Rangoli</h2>
                        <small>25th Nov 07AM - 10AM (Outside MPH)</small>
                        <p>Participate in the vibrant tradition of rangoli, creating colorful designs that beautify the venue and celebrate culture.</p>
                        <span class="rightContainerArrow"></span>
                    </div>
                </div>

                <div class="container leftContainer">
                    <img src="media/images/rangoli-banner.jpg" alt="">
                    <div class="textBox">
                        <h2>Prize Distribution</h2>
                        <small>25th Nov 03PM - 05PM (Main Stage)</small>
                        <p>Join us for the exciting prize distribution ceremony, recognizing outstanding talent and hard work throughout the event.</p>
                        <span class="leftContainerArrow"></span>
                    </div>
                </div>
                <%- include('partials/footer') %>
            </div>
            <%- include('partials/addressbar') %>
        </div>
    </div>
</body>
</html>
