<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest Updates - ExtraVaganza'24</title>
    <link rel="stylesheet" href="/stylesheets/updates.css">
</head>

<body>
    <div>
        <div class="updatesParent">
            <div class="updatesChild">
                <%- include('partials/navbar') %>
                <%- include('partials/uppershade') %>
                    <div class="updatesTitleBar">
                        <h2>Recent <span style="color: rgb(255, 128, 0);">Updates</span></h2>
                    <p>Recent updates! Stay connected to get notified about latest updates. 🔔</p>
                    </div>
                    <div class="updatesContainer">
                        <div class="notification">
                            <img src="svgs/yt_colored.svg" alt="">
                            <a href="">Latest video uploaded on Youtube, click here to watch the video! <span>new</span></a>
                        </div>
                        <div class="notification">
                            <img src="svgs/insta_colored.svg" alt="">
                            <a href="">Latest video uploaded on Instagram, click here to watch the video! <span>new</span></a>
                        </div>
                        <div class="notification">
                            <img src="svgs/twitter_colored.svg" alt="">
                            <a href="">Latest video uploaded on Twitter, click here to watch the video! <span>new</span></a>
                        </div>
                        <div class="notification">
                            <img src="svgs/fb_colored.svg" alt="">
                            <a href="">Latest video uploaded on Facebook, click here to watch the video! <span>new</span></a>
                        </div>
                    </div>
            </div>
            <%- include('partials/addressbar') %>
            <%- include('partials/footer') %>
        </div>
    </div>
</body>

</html>