* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}
body {
  background: black;
  overflow-y: scroll;
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
}
.glimpseParent {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/pc_bg.jpg");
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  color: white;
  position: relative;
}
.glimpseParent h2 {
  font-size: 35px;
}
.glimpseParent p {
  width: 500px;
  margin-top: 15px;
}
.glimpseTitleBar h2,
p {
  text-align: center;
}
.glimpseChild {
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portraitImages {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.portraitImages div {
  position: relative;
  height: 650px;
  width: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;
  border: 2px solid rgba(0, 89, 255, 0.551);
  box-shadow: 5px 5px 10px rgba(0, 8, 255, 0.519), -5px -5px 10px rgba(0, 42, 255, 0.519);
  overflow: hidden;
}
.portraitImages div video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.glimpseParent div img {
  width: 120%;
}
.landscapeImages {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
.landscapeImages div {
  position: relative;
  width: 600px;
  height: 350px;
  overflow: hidden;
  border: 2px solid rgba(255, 0, 0, 0.6);
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.519), -5px -5px 10px rgba(255, 0, 0, 0.519);
}
.landscapeImages div video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 600px) {
  /* .glimpseParent p {
    width: 350px;
    font-size: 0.8em;
  } */
  .landscapeImages,
  .portraitImages {
    flex-direction: column;
    gap: 50px;
  }
  .landscapeImages div {
    width: 350px;
    height: 200px;
  }
  .glimpseParent h2 {
    font-size: 25px;
  }
  .glimpseParent p {
    font-size: 10px;
    width: 300px;
  }
}
